{{ define "styles" }}
<link rel="stylesheet" href="/css/tasting.css">
{{ end }}

{{ define "main" }}
<main aria-role="main">
  <article>

    <!-- About us section -->
    <section id="about-us">
      <header>Tasting Room</header>
      <div class="body">
        <div class="col">
          <img src="/images/tastingroom.jpeg">
          <p>
            Come and meet us at our tasting room.
          </p>
          <p>
            1916 Tillery St.
            <br>
            Austin, TX 78723
          </p>
          <p>
            <table>
              <tbody>
                <tr>
                  <td>Wednesday</td>
                  <td>6-9pm</td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>4-9pm</td>
                </tr>
                <tr>
                  <td>Friday</td>
                  <td>4-9pm</td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td>2-9pm</td>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>12-6pm</td>
                </tr>
              </tbody>
            </table>
          </p>
        </div>

      </div>
    </section>

  </article>
</main>
{{ end }}