{{ define "styles" }}
<link rel="stylesheet" href="/css/tasting.css">
{{ end }}

{{ define "main" }}
<main aria-role="main">
  <article>

    <!-- About us section -->
    <section id="about-us">
      <header>Tasting Room</header>
      <div class="body">
        <div class="col">
          <img src="/images/tastingroom.jpeg">
          <p>
            1916 Tillery St.
            <br>
            Austin, TX 78723
          </p>
          <p>
          <em>Tasting Room</em>
          </p>
          <p>
            <table>
              <tbody>
                <tr>
                  <td>Wednesday - Saturday</td>
                  <td>1p-9p</td>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>1p-7pm</td>
                </tr>
              </tbody>
            </table>
          </p>
        </div>

      </div>
    </section>

  </article>
</main>
{{ end }}
