{{ define "styles" }}
<link rel="stylesheet" href="/css/tasting.css">
{{ end }}

{{ define "main" }}
<main aria-role="main">
  <article>

    <!-- About us section -->
    <section id="about-us">
      <header>Tasting Room</header>
      <div class="body">
        <div class="col">
          <img src="/images/tastingroom.jpeg">
          <p>
            Taste the apples.
          </p>
          <p>
            Be the squeeze.
          </p>
        </div>

      </div>
    </section>

  </article>
</main>
{{ end }}