{{ define "styles" }}
<link rel="stylesheet" href="/css/ciders.css">
{{ end }}


{{ define "main" }}
<main aria-role="main">
  <article>

    <!-- About us section -->
    <section id="semi-dry">
      <div class="body flex justify-between">
        <div class="main-content flex flex-column">
          <h1>Semi-dry</h1>

          <img class="stats" src="/images/semi_dry_stats.svg">

          <div class="flex-auto">
          {{ partial "ciders/semi_dry.html" }}
          </div>

          <img class="sm-hide md-hide lg-hide slider" src="/images/semi_dry_slider.svg">

          <a target="_blank" href="https://www.google.com/maps/d/embed?mid=1XtZu-ClrFChMtT2iEv-SW0XKtcw&hl=en" id="find-us" class="button" title="See us on a map">
            Find Us Here
          </a>

        </div>

        <div class="xs-hide can-content" id="semi-dry-picture">
          <img class="can" src="/images/semi_dry_can.png">
          <img src="/images/semi_dry_slider.svg">
        </div>
      </div>
    </section>

  </article>
</main>
{{ end }}
