body {
}
article header {
  font-family: "Gothic Bold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  letter-spacing: .12em;
  line-height: 2.6em;
  font-size: 2em;
  text-transform: uppercase;
}
article {
  color: white;
  line-height: 1.25;
  margin: 0 0 24px;
}

section {
  padding: 2% 8%;
}

p {
  max-width: 90%;
  font-size: 1em;
}

#about-us {
  background-color: #ee5956;
}

#about-cider {
  background-color: #73c38f;
}


blockquote {
  display: flex;
  align-items: center;
  border: 1px solid;
  margin: 1em -1em;
  width: 80%;
  max-width: 450px;
  font-family: sans-serif;
}

blockquote::before {
  font-size: 5em;
  padding: 10px 20px 0;
  text-align: center;
  max-width: 10%;
  flex: 1;
  content: '\201C';
}

blockquote .quote-inner {
  border-left: 1px solid;
  font-size: 14px;
  flex: 1;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

