body {}

article header {
  font-family: "Gothic Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: .12em;
  line-height: 2.6em;
  font-size: 2em;
  text-transform: uppercase;
}

article {
  color: white;
  line-height: 1.25;
  margin: 0 0 24px;
}

section {
  padding: 2% 8%;
  margin-bottom: 24px;
}

p {
  max-width: 90%;
  font-size: 1em;
}

#about-us {
  background-color: #ee5956;
}

#about-cider {
  background-color: #73c38f;
}

blockquote {
  display: flex;
  align-items: center;
  border: 1px solid;
  margin: 1em -1em;
  width: 80%;
  max-width: 450px;
  font-family: sans-serif;
}

blockquote::before {
  font-size: 5em;
  padding: 10px 20px 0;
  text-align: center;
  max-width: 10%;
  flex: 1;
  content: '\201C';
}

blockquote .quote-inner {
  border-left: 1px solid;
  font-size: 14px;
  flex: 1;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.fact-box {
  display: none;
  color: #ee5956;
}

.fact-box .box {
  border: 2px solid;
  padding: 1em;
}

.fact-box .box .box-heading {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 300;
}

.fact-box .box .box-body {
  text-transform: uppercase;
  font-weight: bolder;
  font-family: sans-serif;
  letter-spacing: 3px;
  font-size: 17px;
  margin-top: 2px;
}

.fact-box .box:not(:last-child) {
  border-right: 0px;
}

@media screen and (min-width: 640px) {
  .fact-box {
    display: flex;
  }
}
