body {
}
header {
  font-family: "Gothic Bold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  letter-spacing: .12em;
  line-height: 2.6rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}
article {
  color: white;
  line-height: 1.25;
}

section {
  padding: 8%;
}

p {
  max-width: 90%;
  font-size: 1.2rem;
}

#about-us {
  background-color: #ee5956;
}
