#semi-dry {
    background-color: #73c38f;
}

a.button {
    max-width: 30em;
}

#semi-dry a.button {
    color: #73c38f;
}

#pomme-blush {
  background-color: #eb5956;
}

#pomme-blush a.button {
  color: #eb5956;
}

#pomme-blush .body {
  flex-direction: row-reverse;
}

#pomme-blush .can-content {
  margin-right: 20px;
}

#miel {
    background-color: #e87856;
}

.body {
    color: white;
    max-height: 100%;
}

img {
    max-height: 100%;
}

img.can {
  object-fit: scale-down;
}

h1 {
    color: white;
    text-transform: uppercase;
    margin: 0 0 1.75rem 0;
    padding: 0;
}

img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
}

section {
    padding: 7.6% 7.6% 50px!important;
    margin-bottom: 40px;
}

section .body p {
    font-size: 1.2rem;
}

section .main-content {
    flex: 2;
    max-width: 450px;
}

section .can-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 350px;
}

.slider {
    margin-bottom: 70px;
}

@media (min-width: 640px) {
    section {
        height: 400px;
    }

    #find-us {
        max-width: 20em;
    }
}

@media (min-width: 840px) {
    .stats {
        max-width: 350px;
    }
}
