main {
    margin-bottom: 40px;
}

.body {
    background-color: #ec7857;
    overflow: hidden;
    padding: 6% 7.5781% 25px;
    margin-bottom: 40px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

p, .entry {
  font-size: 1.2rem;
}
h1 {
  margin: 0 0 20px;
}

a.button {
    color: #ec7857;
}

a.button:hover {
    color: #fefefe;
    background-color: #73c38f;
}

.entry {
    max-width: 350px;
    margin-bottom: 40px;
}

header {
    text-transform: uppercase;
}

.label,
label {
    font-family: "Gothic Bold Extended";
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

label {
  margin-bottom: 0;
}

form {
  width: 100%;
}

#form-content input,
#form-content textarea {
    background-color: #ec7857;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
    border: 0;
    color: #fefefe;
}

#form-content input {
font-family: "Gothic Bold";
    font-size: 1.375rem;
    height: 2.4375rem;
    text-transform: uppercase;
}

#form-content input:focus,
#form-content textarea:focus {
    outline: none;
}

.form-control {
    padding: 15px;
    border: 4px solid #fefefe;
    display: flex;
    flex-direction: column;
}




@media (max-width: 640px) {
  .form-control:not(:first-child) {
    border-top: 0px;
  }
}

@media (min-width: 640px) {
  .sm-no-left {
    border-left: 0px;
  }

  .sm-no-top {
    border-top: 0px;
  }
}




.dropdown {
    letter-spacing: 0.1em;
    font-family: "Gothic Bold";
    position: relative;
    display: inline-block;
    width: 100%;
}

#form-content {
    margin-bottom: 20px;
}



/* Dropdown Button */

.dropbtn {
    font-family: inherit;
    letter-spacing: inherit;
    font-size: 16px;
    color: #fefefe;
    background-color: #ec7857;
    border: 4px solid;
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    text-transform: uppercase;
}







/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fefefe;
    width: 100%;
    z-index: 1;
}







/* Links inside the dropdown */

.dropdown .dropdown-content a {
    font-size: 16px;
    padding: 12px 0;
    margin: 0 12px;
    background: 0 0;
    border: none;
    color: #ec7857;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    border-bottom: solid 2px;
}

.dropdown .dropdown-item:hover {
    background-color: #73c38f;
}

.dropdown .dropdown-item:hover a {
    color: #fefefe;
    border-bottom: 2px solid #73c38f;
}

.dropdown .dropdown-item:last-child a {
    border-bottom: 0px;
}




/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

form {
    max-width: 700px;
    margin: auto;
}

#contact-img {
    width: 70%;
    max-width: 600px;
    margin-top: 40px;
    display: none;
}

#contact-img-sm {
  margin-top: 50px;
  margin-bottom: 40px;
}

.feedback-box {
  display: none;
  padding: 15px;
  margin-top: 50px;
}

.feedback-box.shown {
  display: block;
}

.bordered {
  border: 4px solid #fefefe;
}
textarea {
  resize: none;
}

@media (min-width: 640px) {
    .dropdown {
        max-width: 17em;
    }

    #submit {
        max-width: 10em;
        margin-left: auto;
    }

    #contact-img-sm {
      display: none;
    }
    #contact-img {
      display: block;
    }

    .form-control {
      padding: 8px;
      border-width: 2px;
    }

    #form-content input, #form-content textarea {
      font-size: 1rem;
    }

    #form-content input {
      height: 1.1875em;
    }

    .dropbtn, .bordered {
      border-width: 2px;
    }
}
