main {
    margin-bottom: 40px;
}

.body {
    background-color: #ec7857;
    overflow: hidden;
    padding: 7.5781% 7.5781% 25px;
    margin-bottom: 40px;
    position: relative;
}

a.button {
    color: #ec7857;
}

a.button:hover {
    color: #fefefe;
    background-color: #73c38f;
}

.entry {
    max-width: 300px;
    margin-bottom: 40px;
}

header {
    text-transform: uppercase;
}

.label,
label {
    font-family: "Gothic Bold Extended";
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#form-content input[type="text"],
#form-content textarea {
    background-color: #ec7857;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
    border: 0;
    color: #fefefe;
}

#form-content input[type="text"] {
font-family: "Gothic Bold";
    font-size: 1.375rem;
    height: 2.4375rem;
    text-transform: uppercase;
}

#form-content input[type="text"]:focus,
#form-content textarea:focus {
    outline: none;
}

#form-content>div {
    padding: 15px;
    border: 4px solid #fefefe;
    display: flex;
    flex-direction: column;
}

#form-content>div:not(:first-child) {
    border-top: 0px;
}






/* The container <div> - needed to position the dropdown content */

.dropdown {
    letter-spacing: 0.1em;
    font-family: "Gothic Bold";
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown,
#form-content {
    margin-bottom: 20px;
}



/* Dropdown Button */

.dropbtn {
    font-family: inherit;
    letter-spacing: inherit;
    font-size: 16px;
    color: #fefefe;
    background-color: #ec7857;
    border: 4px solid;
    padding: 10px 12px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    text-transform: uppercase;
}







/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fefefe;
    width: 100%;
    z-index: 1;
}







/* Links inside the dropdown */

.dropdown .dropdown-content a {
    font-size: 16px;
    padding: 12px 0;
    margin: 0 12px;
    background: 0 0;
    border: none;
    color: #ec7857;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    border-bottom: solid 2px;
}

.dropdown .dropdown-item:hover {
    background-color: #73c38f;
}

.dropdown .dropdown-item:hover a {
    color: #fefefe;
    border-bottom: 2px solid #73c38f;
}

.dropdown .dropdown-item:last-child a {
    border-bottom: 0px;
}




/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

form {
    max-width: 800px;
    margin: auto;
}

#contact-img {
    width: 70%;
    max-width: 600px;
    margin-top: 40px;
    display: none;
}

@media (min-width: 640px) {
    .dropdown {
        max-width: 17em;
    }

    #submit {
        max-width: 10em;
        margin-left: auto;
    }

    #contact-img {
      display: block;
    }
}
