main {
  margin-bottom: 24px;
}

header {
  text-transform: uppercase;
  color: white;
}

.block {
  break-inside: avoid;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Gothic Bold Condensed";
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 0.055em;
}

article {
  background-color: #df9c3a;
  padding: 5% 8% 2%;
}

article .body p {
  margin-top: 0;
  font-size: 1rem;
}

#faq-footer {
  float: right;
  display: flex;
  margin-bottom: 24px;
}

#faq-footer>* {
  padding: 5px 10px;
  text-transform: uppercase;
}

#faq-footer-text {
  font-family: 'Gothic Bold';
  color: #df9c3a;
  letter-spacing: .05rem;
  border: 2px solid #df9c3a;
}

#faq-footer>a {
  background-color: #df9c3a;
  color: #eaece7;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Gothic Bold Extended';
  padding-top: 9px;
  cursor: pointer;
}

#faq-footer>a:hover {
  background-color: #df9c5a;
}

@media screen and (min-width: 1138px) {
  article .body {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media screen and (max-width: 640px) {
  article .body p {
    font-size: 1.2rem;
    line-height: 1.25;
    margin-bottom: 1.5rem;
  }
}
