@font-face {
  font-family: "Gothic Bold Extended";
  src: url("/fonts/gothic_bold_extended.woff2") format('woff2');
}

@font-face {
  font-family: "Gothic Bold";
  src: url("/fonts/gothic_bold.woff2") format('woff2');
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: #eaece7;
  font-family: adobe-garamond-pro, Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  max-width: 580px;
  font-family: "Gothic Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

nav a[role="menuitem"] {
  line-height: 2.3;
  text-transform: uppercase;
  letter-spacing: .12em;
  border-bottom: 2px solid transparent;
  font-size: 1rem;
  color: #10454b;
  text-decoration: none;
  cursor: pointer;
  margin: 1em;
}

main {
  width: 90%;
  margin: auto;
}

#homepage {
  margin-bottom: 5%;
  background-image: url('/images/home-bg-640x400.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20% 8% 50px;
  overflow: hidden;
}

.sub-splash {
  margin: 12% auto 0;
}

#sub-splash-lg {
  display: none;
}

#see-more {
  margin-top: 12%;
  -webkit-appearance: none;
}

.button {
  background-color: #eaece7;
  color: #0a0a0a;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-transition: background-color .25s ease-out,color .25s ease-out;
  transition: background-color .25s ease-out,color .25s ease-out;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .09rem;
  display: block;
  font-family: "Gothic Bold Extended",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  padding: 1.7rem 1em;
  font-size: 1.2rem;
}

.button:hover {
   background-color: #c8cdc0;
}