<p>
  Following in the spirit of the upstart tradition, we approach cidermaking with a belief that experimentation can lead to new and delightful discoveries. Armed with the insight that comes with nearly a decade of fermentation experience, and with a laboratory rigor, we are committed to turning quality ingredients that are readily available into beautiful inventions. We respect the inherited traditions of long-established cidermaking techniques without being weighed down by convention, and we embrace a spirit of exploration without being carried away by fads.
</p>
<div class="blockquote">
  <img class="xs-hide sm-hide md-hide" src="/images/about-quote-800.svg">
  <img class="lg-hide" src="/images/about-quote-640.svg">
</div>
<p>
  We believe the guiding principle to good quality cidermaking is an instinct for balance. We use a blend of bittersweet cider apples that provide a depth of flavor and complexity found in the best European ciders, as well as the fruit grown and readily available in the apple-growing regions of America.
</p>
<p>
  We believe that well-balanced cider goes beyond being dry or sweet. There’s a reason that cider long held a role as America’s drink of choice, and we want to help reassert its rightful place by making a well-balanced, accessible drink for anyone to enjoy.
</p>
