<p>
  Cider is in a moment of rebirth today. Far from being a novelty drink, its origins go back as long as apples have been falling off trees and fermenting on the ground. Not long ago, in the era before Prohibition, cider was seen as America’s drink of choice. It was a drink whose availability wasn’t limited by proximity to barley fields or vineyards, and was a safe, nourishing alternative to contaminated water before widespread clean drinking water. It followed the expansion out west, and was even commonly used to lure the best labor to farms that needed help with their fields.
</p>
<p>
  Largely forgotten since Prohibition, we are now in a period of rediscovery with a drink that shares the best qualities of its more popular cousins. It offers the complex aromas of fine wine, the approachability of crisp beer, and a refreshing quenchability for those hot Texas nights.
</p>
