<div class="box">
  <div class="box-heading">
    EST.
  </div>
  <div class="box-body">
    2016
  </div>
</div>
<div class="box" style="flex: 1">
  <div class="box-heading">
    HEAD CIDERMAKER
  </div>
  <div class="box-body">
    Benjamin Weaver
  </div>
</div>
<div class="box" style="flex: 1">
  <div class="box-heading">
    made in:
  </div>
  <div class="box-body">
    Austin, Texas
  </div>
</div>
<div class="box lg-only" style="flex: 1">
  <div class="box-heading">
    Made for:
  </div>
  <div class="box-body">
    All y'all (everybody)
  </div>
</div>
