{{ define "styles" }}
<link rel="stylesheet" href="/css/about.css">
{{ end }}

{{ define "main" }}
<main aria-role="main">
  <article>

    <!-- About us section -->
    <section id="about-us">
      <header>About Us</header>
      <div class="body">
        <div class="col">
          {{ partial "about/about_us.html" }}
        </div>

        <!-- The moontower picture -->
        <div class="col lg-only" id="tower-picture">
          <img src="/images/moontower_at_dusk.jpg">
        </div>
      </div>
    </section>

    <section class="fact-box" id="the-facts-md">
      {{ partial "about/fact_box.html" }}
    </section>

    <section id="about-cider">
      <div class="body">
        <div class="history" id="history-justified">
          {{ partial "svgs/history_of_cider_justified.svg" }}
        </div>
        <div class="history" id="history-staggered">
          {{ partial "svgs/history_of_cider_staggered.svg" }}
        </div>
        <div id="about-cider-text">
          <header>About Cider</header>
          {{ partial "about/about_cider.html" }}
        </div>
      </div>
    </section>
  </article>
</main>
{{ end }}
