{{ define "description" }}
<meta name="description" content="Traditionally inspired craft cider made in East Austin, TX">
{{ end }}

{{ define "main" }}
<main aria-role="main">
  <div id="homepage">

    <!-- Top logo -->
    <div id="home-logo">
      {{ partial "svgs/home_logo.svg" }}
    </div>

    <!-- The boxy svg -->
    <div class="sub-splash" id="sub-splash-sm-md">
      <img src="images/sub_splash_sm_md.svg">
    </div>
    <div class="sub-splash" id="sub-splash-lg">
      <img src="images/sub_splash_lg.svg">

      <!-- Large screen double buttons -->
      <a href="/tasting" id="goto-ciders" class="floating-double button" title="Tasting room">See More</a>
      <a href="/tasting" id="goto-about" class="floating-double button" title="Tasting room">See More</a>
    </div>

    <!-- See More button -->
    <div style="text-align: center; margin-top: 20px">
    <a href="https://www.toasttab.com/moontower-cider-company/v3" target="_blank"><img src="https://cdn2.hubspot.net/hubfs/412971/Toast%20Digital%20Ordering%20Buttons/Online%20Ordering%20Buttons/OO_teal_large.png"></a>
    </div>
    <a href="/ciders" id="see-more" class="button" title="Ciders">See More</a>

  </div>
</main>
{{ end }}
