{{ define "main" }}
<main aria-role="main">
  <div id="homepage">

    <!-- Top logo -->
    <div id="home-logo">
      {{ partial "svgs/home_logo.html" }}
    </div>

    <!-- The boxy svg -->
    <div class="sub-splash" id="sub-splash-sm-md">
      {{ partial "svgs/sub_splash_sm_md.html" }}
    </div>
    <div class="sub-splash" id="sub-splash-lg">
      {{ partial "svgs/sub_splash_lg.html" }}

      <!-- Large screen double buttons -->
      <a href="/ciders" id="goto-ciders" class="floating-double button" title="Ciders">See More</a>
      <a href="/about" id="goto-about" class="floating-double button" title="About Us">See More</a>
    </div>

    <!-- See More button -->
    <a href="/ciders" id="see-more" class="button" title="Ciders">See More</a>

  </div>
</main>
{{ end }}
