{{ define "description" }}
<meta name="description"
      content="We believe that well-balanced cider goes beyond being dry or sweet. There’s a reason that cider long held a role as America’s drink of choice, and we want to help reassert its rightful place by making a well-balanced, accessible drink for anyone to enjoy"
>
{{ end }}

{{ define "styles" }}
<link rel="stylesheet" href="/css/events.css">
{{ end }}

{{ define "main" }}
<main aria-role="main">
  <article>

    <!-- About us section -->
    <section id="calendar">
        <iframe src="https://calendar.google.com/calendar/embed?src=moontowercider.com_o96qqdpg14rh5n329g5jf1tkcg%40group.calendar.google.com&ctz=America%2FChicago" 
        style="border: 0" 
        ></iframe>
    </section>
  </article>
</main>
{{ end }}
