{{ define "styles" }}
<link rel="stylesheet" href="/css/contact.css"> {{ end }} {{ define "main" }}
<main aria-role="main">
  <div class="body">


    <!--  Top matter -->

    <header>
      <h1>Contact Us</h1>
    </header>
    <div class="entry">
      We’re always happy to hear your comments, questions or suggestions.
    </div>

    <form>


      <!-- Inquiry kind selector -->

      <div class="sm-flex justify-end items-center" style="margin-bottom: 20px">
        <div class="label" style="margin-right: 20px">
          Inquiry Type:
        </div>
        <div class="dropdown">
          <button type="button" onclick="openDropdown()" class="dropbtn">
            <div class="flex justify-between items-center">
              <span id="inquiry-type">General</span>
              <span><img src="/images/down-arrow.png" height="10px"></span>
            </div>
          </button>
          <div id="inquiry-types" class="dropdown-content">
            <div class="dropdown-item" onclick="setInquiry('General')">
              <a>General</a>
            </div>
            <div class="dropdown-item" onclick="setInquiry('Orders')">
              <a>Orders</a>
            </div>
            <div class="dropdown-item" onclick="setInquiry('Jobs')">
              <a>Jobs</a>
            </div>
          </div>
        </div>
      </div>


      <!--  The form itself -->

      <div id="form-content">
        <div class="sm-flex">
          <div class="flex-auto form-control" id="name">
            <label>Name:</label>
            <input id="name-form" type="text" name="name">
          </div>

          <div class="flex-auto form-control sm-no-left" id="email">
            <label>Email:</label>
            <input id="email-form" type="text" name="email">
          </div>
        </div>
        <div class="form-control sm-no-top" id="message">
          <label>Message:</label>
          <textarea rows="7" id="message-form" type="text" name="message"></textarea>
        </div>
      </div>

      <a class="button" id="submit">SUBMIT</a>

      <!--  Feedback boxes on message success/error -->
      <div class="feedback-box bordered" id="success">
        Thank you for your message.  It has been sent.
      </div>

      <div class="feedback-box bordered" id="error">
        There was an error sending your message.  Please refresh the page and try again.
      </div>
    </form>


    <img id="contact-img" src="/images/contact.svg">
    <img id="contact-img-sm" src="/images/inline-contact-address-640-2.svg">
  </div>
</main>
{{ end }} {{ define "scripts" }}
<script>
 document.addEventListener("DOMContentLoaded", function(event) {
   var button = document.getElementById('submit');
   button.addEventListener('click', submit);
   button.addEventListener('touchstart', submit);
 });
 var engaged = false;
 function submit() {
   if (engaged) {
     return;
   }
   engaged = true;
   var kind = document.querySelector('#inquiry-type').textContent;
   var message = document.getElementById('message-form').value;
   var email = document.getElementById('email-form').value;
   var name = document.getElementById('name-form').value

   var payload = {
     kind: kind,
     message: message,
     email: email,
     name: name
   };

   var req = new XMLHttpRequest();
   var url = 'https://fd91unt49f.execute-api.us-east-2.amazonaws.com/prod/contact';
   req.open("POST", url);
   req.send(JSON.stringify(payload));
   req.onreadystatechange = function() {
     if (req.readyState === 4) {
       if (req.status === 200) {
         success();
         console.log('successful');
       } else {
         error();
         console.log('failed');
       }
     }
   }
 }

 function success() {
   clean('success');
 }


 function error() {
   clean('error');
 }

 function clean(boxName) {
   engaged = false;
   var box = document.getElementById(boxName);
   box.classList.add('shown');
   document
     .querySelectorAll('input, textarea')
     .forEach(function(n) { n.value = '';});
 }

 function openDropdown() {
   document.getElementById("inquiry-types").classList.toggle("show");
 }

 function setInquiry(opt) {
   document.getElementById('inquiry-type').textContent = opt;
 }

 // Close the dropdown menu if the user clicks outside of it
 window.onclick = function(event) {
   if (!event.target.matches('.dropbtn') && !event.target.matches('.dropbtn *')) {

     var dropdowns = document.getElementsByClassName("dropdown-content");
     var i;
     for (i = 0; i < dropdowns.length; i++) {
       var openDropdown = dropdowns[i];
       if (openDropdown.classList.contains('show')) {
         openDropdown.classList.remove('show');
       }
     }
   }
 }
</script>
{{ end }}
