{{ define "styles" }}
<link rel="stylesheet" href="/css/contact.css"> {{ end }} {{ define "main" }}
<main aria-role="main">
  <div class="body">
    <header>
      <h1>Contact Us</h1>
    </header>
    <div class="entry">
      We’re always happy to hear your comments, questions or suggestions.
    </div>

    <form action="/wat">

      <!-- Inquiry kind selector -->
      <div class="md-flex justify-end items-center">
        <div class="label" style="margin-right: 20px">Inquiry Type</div>
        <div class="dropdown">
          <button type="button" onclick="openDropdown()" class="dropbtn">
            <div class="flex justify-between items-center">
              <span id="inquiry-type">General</span>
              <span><img src="/images/down-arrow.png" height="10px"></span>
            </div>
          </button>
          <div id="inquiry-types" class="dropdown-content">
            <div class="dropdown-item" onclick="setInquiry('General')">
              <a>General</a>
            </div>
            <div class="dropdown-item" onclick="setInquiry('Orders')">
              <a>Orders</a>
            </div>
            <div class="dropdown-item" onclick="setInquiry('Jobs')">
              <a>Jobs</a>
            </div>
          </div>
        </div>
      </div>

      <div id="form-content">
        <div id="name">
          <label>Name:</label>
          <input id="name-form" type="text" name="name">
        </div>

        <div id="email">
          <label>Email:</label>
          <input id="email-form" type="text" name="email">
        </div>
        <div id="message">
          <label>Message:</label>
          <textarea rows="7" id="message-form" type="text" name="message"></textarea>
        </div>
      </div>

      <a class="button" id="submit" onclick="submit()">SUBMIT</a>
    </form>

    <img id="contact-img" src="/images/contact.svg">
  </div>
</main>
{{ end }} {{ define "scripts" }}
<script>
 function submit() {
   var form = new FormData(document.querySelector('form'));
   var kind = document.querySelector('#inquiry-type').textContent;
   form.append('inquiry', kind);

   var payload = {};
   for (var entry of form.entries()) {
     payload[entry[0]] = entry[1];
   }

   var req = new XMLHttpRequest();

   req.open("POST", "http://localhost:8080");
   req.send(JSON.stringify(payload));
   req.onreadystatechange = function() {
     if (req.readyState === 4) {
       if (req.status === 200) {
         console.log('successful');
       } else {
         console.log('failed');
       }
     }
   }
 }

 function openDropdown() {
   document.getElementById("inquiry-types").classList.toggle("show");
 }

 function setInquiry(opt) {
   document.getElementById('inquiry-type').textContent = opt;
 }

 // Close the dropdown menu if the user clicks outside of it
 window.onclick = function(event) {
   if (!event.target.matches('.dropbtn') && !event.target.matches('.dropbtn *')) {

     var dropdowns = document.getElementsByClassName("dropdown-content");
     var i;
     for (i = 0; i < dropdowns.length; i++) {
       var openDropdown = dropdowns[i];
       if (openDropdown.classList.contains('show')) {
         openDropdown.classList.remove('show');
       }
     }
   }
 }
</script>
{{ end }}
